@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700");
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing-box-sizing: border-box;
  -webkit-box-sizing-min-width: 320px;
  -webkit-box-sizing-padding: 20px;
  -webkit-box-sizing-width: 100%;
}

div {
  box-sizing: border-box;
}

.container {
  max-width: 1100px;
  width: 95%;
  margin: 0 auto;
}

header {
  background: url(../img/main-bg.jpg) no-repeat center top/cover;
  color: #fff;
  padding-bottom: 10px;
  max-width: 100%;
  background-size: 100%;
}

a, a:visited, a:active, a:focus, a:hover {
  color: #fff;
  text-decoration: none;
  background-color: transparent;
}

.collapse .navbar-collapse .on {
  position: absolute;
  position-top: 0;
  position-left: 0;
  position-z-index: 10;
}

nav {
  float: left;
}

nav .main-nav {
  padding: 0;
  margin: 0;
}

nav li a {
  margin-right: -20px;
  margin-top: -5px;
  font-size: 13px;
}

li.active {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  border-top: #54d154 5px solid;
  padding-top: 6px;
  padding-right: 0px;
  margin-right: -2px;
}

li.active a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 0;
  margin: 0;
  text-align: center;
}

li.active:hover {
  background-color: transparent;
}

.nav > li > a:hover {
  background-color: transparent;
}

.navbar-toggle {
  color: #fff;
  border-radius: 10px;
  float: left;
  padding: 0;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-collapse.in {
  overflow: hidden;
}

.logo {
  padding-top: 8px;
  display: block;
}

#custom-search-form {
  margin: 5px 0 0 0;
  padding: 0;
  float: right;
}

#custom-search-form .search-query {
  background: rgba(255, 255, 255, 0.8);
  padding-right: 0px;
  padding-left: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-bottom: 0;
  border-radius: 20px;
  border: none;
  color: #000;
  outline: none;
}

#custom-search-form button {
  border: 0;
  background: none;
  padding: 0px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  margin-bottom: 0;
  border-radius: 10px;
  padding-bottom: 6px;
}

#custom-search-form button i {
  color: #000;
  opacity: .5;
}

#custom-search-form:focus button {
  z-index: 3;
}

#custom-search-form:focus .fa {
  font-size: 10px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 55px;
  text-align: center;
  padding-top: 25%;
}

.button {
  display: block;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  background-color: #54d154;
  border-radius: 20px;
}

a.button-work:hover, a.button-work:visited, a.button-work:focus {
  background-color: #54d154;
}

a.button-work {
  color: #fff;
  font-size: 22px;
  width: 217px;
  margin-top: 40px;
  text-transform: uppercase;
  padding: 7px 22px;
}

a.button-scroll, a.button-scroll:hover, a.button-scroll:visited, a.button-scroll:active, a.button-scroll:focus {
  color: #686868;
  background: rgba(255, 255, 255, 0.8);
}

.button-scroll {
  font-size: 16px;
  padding: 3px 5px;
  width: 120px;
  margin-top: 8%;
  margin-bottom: 5px;
}

.button-scroll i {
  font-size: 12px;
}

section {
  padding-top: 25px;
}

h2 {
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  font-size: 21px;
  color: #828181;
  text-align: center;
}

hr {
  display: block;
  width: 43px;
  height: 2px;
  background-color: #9b9b9b;
  margin-top: 10px;
  border-top: none;
}

p {
  text-align: center;
  color: #9b9b9b;
  margin-top: -9px;
}

.item {
  padding: 30px;
  text-align: center;
  margin-top: 20px;
}

.item img {
  display: block;
  margin: 0 auto;
}

.item h3 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 24px;
  font-weight: bold;
  color: #686868;
  padding-bottom: 10px;
}

.item .button-more {
  width: 140px;
  font-size: 16px;
  padding: 8px 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

.item a.button-more:hover, .item a.button-more:focus, .item a.button-more:visited {
  background-color: #54d154;
}

#ourlatestwork {
  background-color: #54d154;
  padding-bottom: 30px;
}

.work-pills {
  margin: 50px 0;
  display: block;
  text-align: center;
}

.work-pills ul {
  display: inline-block;
}

.work-pills ul li {
  margin-top: -1px;
}

.work-pills ul li.active {
  margin-top: -12px;
  color: #fff;
}

.work-pills ul li.active a {
  background-color: #2b9b2b;
  padding: 5px 10px 6px;
  font-weight: 300;
}

.work-pills ul li.active a:hover {
  background-color: #fff;
  color: #2b9b2b;
}

.work-pills ul li.active a:visited, .work-pills ul li.active a:focus {
  background-color: #2b9b2b;
  color: #fff;
}

.work-pills ul li a {
  background-color: #fff;
  padding: 5px 9px;
  color: #2b9b2b;
  border-radius: none;
  margin-bottom: 1px;
}

.work-pills ul li a:hover {
  background-color: #2b9b2b;
  color: #fff;
}

.work-pills ul li a:visited, .work-pills ul li a:focus {
  background-color: #fff;
  color: #2b9b2b;
}

.work-pills ul li:first-of-type a {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 15px;
  margin-right: 2px;
}

.work-pills ul li:last-of-type a {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 15px;
}

.gallery {
  margin-bottom: 30px;
}

.gallery img {
  margin: 10px auto;
  padding: 0 5px;
  display: block;
  text-align: center;
  border-radius: 3px;
  max-width: 100%;
}

.button-viewmore {
  width: 190px;
  padding: 10px 18px;
  margin: 30px auto;
}

.button-viewmore a {
  font-size: 18px;
}

a.button-viewmore, a.button-viewmore:hover, a.button-viewmore:visited, a.button-viewmore:focus {
  background-color: #2b9b2b;
}

.carousel-inner {
  padding-bottom: 60px;
}

.carousel-inner .item {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.feedback p {
  color: #303030;
}

.feedback blockquote {
  width: 43%;
  border: none;
  margin: 0 auto;
}

.feedback blockquote img {
  float: left;
}

.feedback blockquote p {
  float: right;
  padding-top: 10px;
}

.feedback blockquote span {
  float: left;
}

.feedback blockquote span.gray {
  color: #ccc;
  font-size: 14px;
}

.carousel-control.left, .carousel-control.right {
  background-image: none !important;
  filter: none !important;
}

.carousel-control.left span, .carousel-control.right span {
  color: #ccc;
  border: none;
}

#ourhappyclients {
  background: #f7f7f7;
  padding-bottom: 30px;
}

.logos-1, .logos-2 {
  margin-bottom: 40px;
  padding-bottom: 30px;
}

.logos-1 img, .logos-2 img {
  display: block;
  margin: 0px auto;
  padding: 40px 0px;
  text-align: center;
  max-width: 100%;
}

a.button-clients, a.button-clients:focus, a.button-clients:hover, a.button-clients:visited {
  width: 170px;
  padding: 8px 16px;
  background: #e3e2e2;
  color: #828181;
}

a.button-clients i, a.button-clients:focus i, a.button-clients:hover i, a.button-clients:visited i {
  opacity: .8;
  padding-left: 20px;
}

#meettheteam {
  background-color: #54d154;
}

#meettheteam .members {
  margin-bottom: 30px;
}

#meettheteam .members .member {
  padding: 20px 0;
  margin-bottom: 30px;
}

#meettheteam .members .member hr {
  border: none;
  background: #289728;
  height: 80px;
  width: 2px;
}

#meettheteam .members .member p {
  color: #fff;
  text-align: center;
}

#meettheteam .members .member img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

#ndwork {
  background-color: #33bf33;
  padding-top: 0;
  padding-bottom: 40px;
}

#ndwork a {
  box-shadow: 0px 3px 8px #686868;
  -moz-box-shadow: 0px 3px 8px #686868;
  -webkit-box-shadow: 0px 3px 6px #686868;
}

#contactus {
  background: #424141;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding-bottom: 60px;
}

#contactus img {
  margin-bottom: 20px;
}

#contactus .post {
  padding: 2px;
}

#contactus .post h2 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

#contactus .post hr {
  width: 40px;
  padding: 0;
  margin-top: 0;
}

#contactus .post h2, #contactus .post hr, #contactus .post p {
  opacity: .5;
}

#contactus .post .left {
  float: left;
  clear: left;
}

#contactus .post .left img {
  padding-left: 60px;
  padding-bottom: 15px;
  float: right;
}

#contactus .post .right {
  float: right;
}

#contactus .post .right p {
  padding: 5px 0 2px 0;
  margin: 0;
}

#contactus .post .right .label {
  border-radius: 4px;
  text-transform: uppercase;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  padding: 4px 8px;
  float: left;
}

#contactus .post .right .label.label-warning {
  background-color: #ffba00;
}

#contactus .post .right .label.label-primary {
  background-color: #089dea;
}

#contactus .post .right .label.label-danger {
  background-color: #f34d04;
}

p.address {
  font-family: Montserrat, sans-serif;
  font-weight: 300;
}

form {
  width: 90%;
  margin: 0 auto;
  border-radius: none;
}

form .form-group {
  margin: 2px;
}

form .form-group .form-control {
  background: #545353;
  border: none;
}

form .form-group .form-control#name {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

form .button-send {
  border-radius: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 99%;
  background-color: #33bf33;
}

footer {
  padding-bottom: 40px;
  background-color: #222;
}

footer h2 {
  font-size: 15px;
  color: #000;
}

footer hr {
  background-color: #000;
}

footer img {
  max-width: 100%;
  padding: 10px;
}

.design {
  background-color: #000;
  text-align: center;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 200;
}
