/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
  .button-scroll {
    margin-top: 6%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 991px) {
  /**/
  nav {
    font-size: 11px;
  }
  nav li a {
    font-size: 11px;
    padding: 0;
  }
  h1 {
    font-size: 40px;
    padding-top: 20%;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}

#custom-search-form button {
  margin-top: 0;
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/
  h1 {
    font-size: 40px;
    padding-top: 8%;
  }
  .button-work {
    margin-top: 3%;
  }
  .button-scroll {
    display: none;
  }
  /*Disable Animation on Mobile Devices*/
  .animated {
    /*CSS transitions*/
    -o-transition-property: none !important;
    -moz-transition-property: none !important;
    -ms-transition-property: none !important;
    -webkit-transition-property: none !important;
    transition-property: none !important;
    /*CSS transforms*/
    -o-transform: none !important;
    -moz-transform: none !important;
    -ms-transform: none !important;
    -webkit-transform: none !important;
    transform: none !important;
    /*CSS animations*/
    -webkit-animation: none !important;
    -moz-animation: none !important;
    -o-animation: none !important;
    -ms-animation: none !important;
    animation: none !important;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/
  #custom-search-form {
    display: none;
  }
  h1 {
    font-size: 36px;
    padding-top: 0px;
  }
  .button-work {
    width: 185px;
    font-size: 18px;
    margin-top: 10%;
  }
  .button-scroll {
    display: none;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
}
