@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,700");
html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  font-size: 15px;
  overflow-x: hidden;
}

body {
  -webkit-box-sizing: border-box;
  -webkit-box-sizing-box-sizing: border-box;
  -webkit-box-sizing-min-width: 320px;
  -webkit-box-sizing-padding: 20px;
  -webkit-box-sizing-width: 100%;
}

div {
  box-sizing: border-box;
}

.container {
  width: 1250px;
  width: 95%;
  margin: 0 auto;
}
