/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/
  section h2 {
    font-size: 2.5em;
  }
  .piccakes {
    margin-top: 10%;
  }
  .piccakes .vector {
    width: 190px;
    height: 190px;
  }
  #tastypancakes .pan-panel {
    padding-left: 52%;
    padding-right: 5%;
  }
  #tastypancakes .pan-panel p {
    padding-bottom: 15%;
    margin-bottom: 10%;
  }
  .carousel-control {
    margin-top: 4%;
  }
  #breakfast .papermenu span {
    padding: 6% 15% 0%;
  }
  #breakfast .papermenu img {
    margin: 0;
  }
  #breakfast .papermenu a.button-read {
    margin: 0 auto;
  }
  #jibarito .sandwich {
    margin-top: 15%;
  }
  #jibarito .sandwich .readyin {
    width: 145px;
    height: 145px;
  }
  #jibarito .sandwich .readyin:first-child {
    margin-top: -14%;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width: 1020px) {
  /**/
  section h2 {
    font-size: 2.1875em;
  }
  .nav li a {
    letter-spacing: 2px;
  }
  .social_icons .fa {
    padding-right: 10px;
  }
  #tastypancakes .pan-panel {
    padding-left: 48%;
    padding-right: 4%;
  }
  #tastypancakes .pan-panel p {
    padding-bottom: 4%;
    margin-bottom: 10%;
  }
  .media-carousel img {
    width: 100px;
  }
  .carousel-control {
    width: 27px;
    height: 27px;
  }
  #jibarito .sandwich .readyin {
    width: 140px;
    height: 140px;
  }
  #jibarito .sandwich .readyin:first-child {
    margin-top: -14%;
  }
  #jibarito .sandwich .readyin:last-child span.bigtext {
    font-size: 5em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 988px) {
  /**/
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: right;
    text-align: left;
  }
  .navbar-nav > li a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
  .piccakes .vector {
    width: 280px;
    height: 280px;
  }
  .piccakes .vector h3 {
    font-size: 1.5625em;
  }
  .readyin h5 {
    padding-bottom: -10%;
    margin-bottom: -20%;
    font-size: 0.75em;
  }
  .readyin p {
    padding: -10%;
  }
  .readyin p span.bigtext {
    font-size: 4.375em;
  }
  .readyin p span.mins {
    margin: -20% auto 0;
  }
  #breakfast .papermenu h2 {
    margin: 1%;
    font-size: 1.9375em;
  }
  #breakfast .papermenu p {
    margin: 1%;
    padding: 5%;
  }
  #breakfast .papermenu a.button-read {
    margin: 2% auto;
  }
  #jibarito .sandwich {
    margin-top: 35%;
  }
  #jibarito .sandwich .readyin {
    width: 102px;
    height: 102px;
  }
  #jibarito .sandwich .readyin span.bigtext {
    font-size: 3.125em;
  }
  #jibarito .sandwich .readyin:last-child span.bigtext {
    font-size: 3.625em;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 870px) {
  /**/
  .titles h1 {
    font-size: 5em;
  }
  #tastypancakes .pan-panel {
    padding-left: 48%;
    padding-right: 4%;
  }
  #tastypancakes .pan-panel p {
    padding: 7% 0;
    margin-bottom: 8%;
  }
  .readyin {
    margin-top: -10%;
    margin-left: -25%;
  }
  .carousel {
    display: none;
  }
  #breakfast .papermenu {
    padding: 4%;
  }
  #breakfast .papermenu h2 {
    margin: 0;
    font-size: 1.5625em;
  }
  #breakfast .papermenu a.button-read {
    margin: 0%	auto;
    padding: 2%;
  }
  #breakfast .papermenu span {
    padding-top: 1%;
  }
}

@media only screen and (max-width: 756px) {
  /**/
  section p {
    font-size: 0.875em;
  }
  #breakfast .papermenu {
    padding: 20px 45px 50px 20px;
  }
  #breakfast .papermenu span {
    padding: 6% 21% 0%;
  }
  #breakfast .papermenu img {
    margin: 0 0 10%;
  }
  #breakfast .papermenu h2 {
    margin: 3% 0;
    font-size: 2.875em;
  }
  #breakfast .papermenu p {
    margin: 7% 0;
    padding: 5% 10%;
  }
  #breakfast .papermenu a.button-read {
    margin: 13% auto;
  }
  #jibarito {
    padding-bottom: 10%;
  }
  #jibarito .sandwich {
    margin-top: 0;
  }
  #jibarito .sandwich .readyin {
    width: 110px;
    height: 110px;
  }
  #jibarito .sandwich .readyin span.bigtext {
    font-size: 3.4375em;
  }
  #jibarito .sandwich .readyin:last-child span.bigtext {
    font-size: 4.0625em;
  }
}

@media only screen and (max-width: 675px) {
  /**/
  .titles h1 {
    font-size: 4.375em;
  }
  .titles p {
    font-size: 0.9375em;
  }
  .piccakes .vector {
    width: 240px;
    height: 240px;
  }
  .piccakes .vector h3 {
    font-size: 1.4375em;
  }
  #tastypancakes .pan-panel {
    background-size: cover;
    margin-top: 0;
  }
  #tastypancakes .pan-panel h2 {
    padding-top: 5%;
    font-size: 1.5em;
  }
  #tastypancakes .pan-panel h4 {
    font-size: 0.75em;
  }
  #tastypancakes .pan-panel p {
    font-size: 0.625em;
    padding-top: 0;
    padding-right: 6%;
  }
  .readyin {
    margin-top: -10%;
    margin-left: -25%;
  }
  .readyin h5 {
    padding-bottom: -10%;
    margin-bottom: -20%;
    font-size: 0.75em;
  }
  .readyin p {
    padding: -10%;
  }
  .readyin p span.bigtext {
    font-size: 3.75em;
  }
  .readyin p span.mins {
    margin: -20% auto 0;
  }
  #breakfast .papermenu span {
    padding: 6% 15% 0%;
  }
  #breakfast .papermenu img {
    margin: 0 0 5%;
  }
  #breakfast .papermenu h2 {
    margin: 0;
    font-size: 2.5em;
  }
  #breakfast .papermenu a.button-read {
    margin: 12% auto;
  }
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 523px) {
  /**/
  .titles h1 {
    font-size: 3.4375em;
  }
  .titles p {
    padding: 3%;
  }
  .titles a.button-menu {
    margin-bottom: 8%;
  }
  .mainchef span {
    padding: 0;
  }
  #tastypancakes {
    background-image: url(../img/panpan-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 19%;
    padding-right: 0;
    margin: 0;
  }
  #tastypancakes .pan-panel {
    background: none;
    width: 130%;
  }
  #tastypancakes .pan-panel h2 {
    margin-top: -15%;
    font-size: 1.875em;
  }
  #tastypancakes .pan-panel p {
    margin-bottom: -12%;
    padding-bottom: 0;
    font-size: 0.625em;
  }
  #tastypancakes .readyin {
    display: none;
  }
  .piccakes .vector {
    width: 190px;
    height: 190px;
  }
  .piccakes .vector h3 {
    font-size: 1.0625em;
  }
  #breakfast .papermenu {
    width: 110%;
  }
  #breakfast .papermenu span {
    padding: 6% 15% 0%;
  }
  #breakfast .papermenu img {
    margin: 0 0 5%;
  }
  #breakfast .papermenu h2 {
    margin: -1%;
    font-size: 1.8125em;
  }
  #breakfast .papermenu p {
    margin: 0;
    padding: 7% 1%;
  }
  #breakfast .papermenu a.button-read {
    margin: 0 auto;
  }
  #jibarito {
    padding-bottom: 10%;
  }
  #jibarito .sandwich {
    margin-top: 0;
  }
  #jibarito .sandwich a.button-recipe {
    padding: 1.5% 0;
    width: 160px;
    font-size: 0.875em;
  }
  #jibarito .sandwich .readyin {
    width: 80px;
    height: 80px;
    margin-top: -10%;
    margin-left: 6%;
  }
  #jibarito .sandwich .readyin h5 {
    margin-bottom: 0.1%;
  }
  #jibarito .sandwich .readyin span.bigtext {
    margin-top: 20%;
    font-size: 1.5625em;
  }
  #jibarito .sandwich .readyin:first-child {
    margin-top: -19%;
  }
  #jibarito .sandwich .readyin:last-child span.bigtext {
    font-size: 2.1875em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 375px) {
  /**/
  .mainchef span {
    padding: 0;
  }
  .mainchef img {
    width: 30%;
  }
  .piccakes .vector {
    width: 160px;
    height: 160px;
  }
  .piccakes .vector h3 {
    font-size: 1em;
  }
  #tastypancakes .pan-panel {
    padding-left: 43%;
  }
  #tastypancakes .pan-panel h2 {
    font-size: 1.5625em;
    margin-top: -13%;
  }
  #breakfast .papermenu {
    width: 110%;
  }
  #breakfast .papermenu span {
    padding: 6% 15% 0%;
  }
  #breakfast .papermenu img {
    margin: 0 0 5%;
  }
  #breakfast .papermenu h2 {
    margin: -3%;
    font-size: 1.375em;
  }
  #breakfast .papermenu p {
    margin: 0;
    padding: 7% 1%;
    font-size: 0.75em;
  }
  #jibarito {
    padding-bottom: 10%;
  }
  #jibarito .sandwich {
    margin-top: 0;
  }
  #jibarito .sandwich a.button-recipe {
    padding: 1.5% 0;
    width: 160px;
    font-size: 0.875em;
  }
  #jibarito .sandwich .readyin {
    width: 65px;
    height: 65px;
    margin-top: -12%;
    margin-left: 6%;
  }
  #jibarito .sandwich .readyin h5 {
    font-size: 0.625em;
    margin-bottom: 0.1%;
  }
  #jibarito .sandwich .readyin span.bigtext {
    margin-top: 20%;
    font-size: 1.25em;
  }
  #jibarito .sandwich .readyin:first-child {
    margin-top: -19%;
  }
  #jibarito .sandwich .readyin:last-child span.bigtext {
    font-size: 1.875em;
  }
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/
  .piccakes .vector {
    width: 120px;
    height: 120px;
  }
  .piccakes .vector h3 {
    font-size: 0.6875em;
  }
  #breakfast .papermenu {
    width: 110%;
    padding-left: 14%;
  }
  #breakfast .papermenu span {
    padding: 6% 15% 0%;
    font-size: 0.6875em;
  }
  #breakfast .papermenu img {
    margin: 0 0 5%;
  }
  #breakfast .papermenu h2 {
    margin: -3%;
    font-size: 1.125em;
  }
  #breakfast .papermenu p {
    margin: 0;
    padding: 5% 0%;
    font-size: 0.6875em;
  }
  #breakfast .papermenu a.button-read {
    width: 150px;
  }
  #jibarito {
    padding-bottom: 10%;
  }
  #jibarito .sandwich {
    margin-top: 0;
  }
  #jibarito .sandwich a.button-recipe {
    padding: 1% 0;
    width: 140px;
    font-size: 0.875em;
  }
  #jibarito .sandwich .readyin {
    width: 60px;
    height: 60px;
    margin-top: -10%;
    margin-left: 6%;
  }
  #jibarito .sandwich .readyin h5 {
    margin-bottom: -15%;
  }
  #jibarito .sandwich .readyin span.bigtext {
    font-size: 1.5625em;
  }
  #jibarito .sandwich .readyin span.mins {
    font-size: 0.625em;
  }
  #jibarito .sandwich .readyin:first-child {
    margin-top: -30%;
  }
  #jibarito .sandwich .readyin:last-child span.bigtext {
    font-size: 2.1875em;
  }
  #jibarito .sandwich .readyin:last-child span.mins {
    margin-top: -18%;
  }
}
